__pycache__/
*.pyc
.vscode/
dist/
*.egg-info/
build/
images/
outputs/
multirun/
exp/
handling/
tests/
scripts/
*.code-workspace
data/
*.JPG
configs/train/*
configs/test/*
!configs/*/faster_rcnn.yaml
!configs/*/dla34.yaml
!configs/*/herdnet.yaml
wandb
runs
*pt
nohup.out
yolo-runs
tmp